<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BikeShopManagement.Properties.Settings.BikeShopConnectionString"
            connectionString="Data Source=MeruMeru;Initial Catalog=BikeShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BikeShopManagement.Properties.Settings.BikeShopConnectionString1"
            connectionString="Data Source=DESKTOP-GHE37H3;Initial Catalog=BikeShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>